body {
    font-size: 16px; 
}

nav {
    padding: 10px;
}
  
.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    width: 100%; 
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav li:nth-child(4) {
    background-color: rgb(246, 230, 229);
}

.nav a {
    display: block;
    padding: 10px 0;
    color: black;
    text-align: center;
    text-decoration: none;
}


.iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

iframe {
    width: 100%;
}

.writer {
    width: 100%;
    margin: auto;
    padding: 0;
}


header {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}

.header-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}


.header-column {
    display: flex;
    flex-direction: column;
}

.header-column:last-child {
    text-align: left;
}




.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease; 
    z-index: 1;
}

.scroll-to-top-btn.show {
    display: block;
}

.scroll-to-top-btn:hover {
    transform: scale(1.3); 
}

.footer {
    width: 100%;
    font-family: 'Syne', sans-serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer p {
    font-size: 100%;
    width: 100%;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-media img {
    width: 8%;
    margin: 0 5px;
}